# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# Uploaded resumes
uploads/

# System files
.DS_Store
Thumbs.db

.env

Resume_Analysis_Report.pdf